/* Styling of the demo header */

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  height: var(--100vh-deduction);
  background: #aaa;
  color: #000;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

#header > * {
  text-align: center;
}


/* Recommended normalization */

@media (max-width: 767px) {

  html {
    font-size: 16px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  html {
    font-size: 18px;
  }

}

@media (min-width: 1024px) {

  html {
    font-size: 20px;
  }

}

body {
  margin: 0;
}


/* Required normalization */

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}


/* Customize to your liking */

:root {
  /* The narrow width */
  --content-width: 45rem;

  /* The padding inside parts, and the space of <hr class="space">. */
  --block-spacing: 4rem;

  /* Heitgh reserved for fixed/stick header etc. */
  --100vh-deduction: 5rem;

  /* Background colors */
  --bg-blue-light: #d7eefd;
  --bg-blue-dark: #002a4a;
  --bg-green-light: #cce4ca;
  --bg-green-dark: #00412d;
  --bg-yellow-light: #fff8bb;
  --bg-yellow-dark: #f49800;
  --bg-red-light: #fad3d3;
  --bg-red-dark: #870c1e;
  --bg-gray-dark: hsl(0, 0%, 28%);
  --bg-gray-light: hsl(0, 0%, 78%);
  --bg-bw-dark: hsl(0, 0%, 8%);
  --bg-bw-light: hsl(0, 0%, 97%);

  /* Foreground colors */
  --fg-dark: hsl(0, 0%, 4%);
  --fg-light: hsl(0, 0%, 97%);

  /* Overlay used between text and image */
  --fg-overlay-light: rgba(100%, 100%, 100%, 50%);
  --fg-overlay-dark: rgba(0%, 0%, 0%, 50%);

  /* Text shadow used on text on image with no overlay */
  --fg-shadow-dark: 0px 2px 5px rgba(0, 0, 0, 0.8);
  --fg-shadow-light: 0px 2px 5px rgba(1, 1, 1, 0.8);
}


/* Blocks container */

.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Individual blocks */

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {

  .block.wide {
    max-width: auto;
  }

  .block.narrow {
    max-width: var(--content-width);
  }

}


/* Block parts */

@media (max-width: 767px) {

  .block > .part {
    width: 100%;
  }

}

@media (min-width: 768px) {

  .block.layout-100 > .part {
    width: 100%;
  }

  .block.layout-50-50 > .part {
    width: 50%;
  }

  .block.layout-67-33 > .part:first-child,
  .block.layout-33-67 > .part:last-child {
    width: calc(100% * 2 / 3);
  }

  .block.layout-67-33 > .part:last-child,
  .block.layout-33-67 > .part:first-child {
    width: calc(100% / 3);
  }

  .block.layout-33-33-33 > .part {
    width: calc(100% / 3);
  }

}


/* Text part */

.block > .part > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--block-spacing);
}

.block > .part > .text > * {
  overflow-y: auto;
}


/* Text on image */

.block > .part.bg-image {
  display: flex;
  align-items: center;
}

.block > .part.bg-image > .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block > .part.bg-image > .text {
  margin-left: -100%;
}


/* Miniumum allowerd height of a block */

.block.height-min-none > .part > * {
  min-height: auto;
}

.block.height-min-25 > .part > * {
  min-height: 25vh;
}

.block.height-min-33 > .part > * {
  min-height: 33vh;
}

.block.height-min-50 > .part > * {
  min-height: 50vh;
}

.block.height-min-67 > .part > * {
  min-height: 67vh;
}

.block.height-min-75 > .part > * {
  min-height: 75vh;
}

.block.height-min-100 > .part > * {
  min-height: calc(100vh - var(--100vh-deduction));
}


/* Maximun allowerd height of a block */

.block.height-max-none > .part > * {
  max-height: auto;
}

.block.height-max-25 > .part > * {
  max-height: 25vh;
}

.block.height-max-33 > .part > * {
  max-height: 33vh;
}

.block.height-max-50 > .part > * {
  max-height: 50vh;
}

.block.height-max-67 > .part > * {
  max-height: 67vh;
}

.block.height-max-75 > .part > * {
  max-height: 75vh;
}

.block.height-max-100 > .part > * {
  max-height: calc(100vh - var(--100vh-deduction));
}


/* Text colors */

.block > .part.fg-dark > .text,
.block > .part.fg-dark-on-overlay > .text {
  color: var(--fg-dark);
}

.block > .part.fg-light > .text,
.block > .part.fg-light-on-overlay > .text {
  color: var(--fg-light);
}


/* Colored background */

.block > .part.fg-dark.bg-blue {
  background: var(--bg-blue-light);
}

.block > .part.fg-light.bg-blue {
  background: var(--bg-blue-dark);
}

.block > .part.fg-dark.bg-green {
  background: var(--bg-green-light);
}

.block > .part.fg-light.bg-green {
  background: var(--bg-green-dark);
}

.block > .part.fg-dark.bg-red {
  background: var(--bg-red-light);
}

.block > .part.fg-light.bg-red {
  background: var(--bg-red-dark);
}

.block > .part.fg-dark.bg-yellow {
  background: var(--bg-yellow-light);
}

.block > .part.fg-light.bg-yellow {
  background: var(--bg-yellow-dark);
}

.block > .part.fg-dark.bg-gray {
  background: var(--bg-gray-light);
}

.block > .part.fg-light.bg-gray {
  background: var(--bg-gray-dark);
}

.block > .part.fg-dark.bg-bw {
  background: var(--bg-bw-light);
}

.block > .part.fg-light.bg-bw {
  background: var(--bg-bw-dark);
}

.block > .part.bg-transparent {
  background: transparent;
}


/* Image background */

.block > .part.bg-image.fg-dark-on-overlay > .text {
  background: var(--fg-overlay-light);
}

.block > .part.bg-image.fg-light-on-overlay > .text {
  background: var(--fg-overlay-dark);
}

.block > .part.bg-image.fg-light > .text {
  text-shadow: var(--fg-shadow-light);
}

.block > .part.bg-image.fg-dark > .text {
  text-shadow: var(--fg-shadow-dark);
}


/* Text adjustment */

.block > .part > .text > .left {
  text-align: left;
}

.block > .part > .text > .center {
  text-align: center;
}

.block > .part > .text > .right {
  text-align: right;
}


/* Vertical spacer */

hr.space {
  margin: calc(var(--block-spacing) / 2) 0;
  border: none;
}